<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "zh-cn/html-head" . }}
  {{ partial "zh-cn/inject/head" . }}
</head>

<body>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="flex container">
    <aside class="book-menu fixed">
      {{ partial "zh-cn/menu" . }}
    </aside>

    <div class="book-page">
      {{ partial "zh-cn/mobile-header" . }}
      {{ template "main" . }}
      {{ partial "zh-cn/footer" . }}
      {{ partial "zh-cn/inject/footer" . }}
    </div>

    {{ template "toc" . }}
  </main>

  {{ partial "zh-cn/inject/body" . }}
</body>

</html>
